body {
	background-image: url('../img/bg.png');
	background-size: cover;
	height: 100vh;
	background-position: center;
	font-family: 'Yuji Syuku', serif;
}

div#logo {
	margin: 10% 30% 0 30%;
	background-color: rgba(255,255,255,0.6);
	border-radius: 20px;
	padding: 10px;
}

img {
	width: 100%;
}

button {
	background-color: white;
	display: block;
	margin: 50px auto 0 auto;
	padding: 20px;
	font-size: 45px;
	font-weight: bold;
	border-radius: 10px;
}

button:hover {
	background-color: rgb(230, 230, 230);
}

p {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
	font-size: 30px;
}

textarea {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#form_submit {
	display: none;
}

#input_elem {
	font-size: 22px;
	resize:  vertical;
	width: 40%;
	background-color: white;
	margin-top: 40px;
}