<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>TITLE</title>
</head>
<body>

  <h1>Recorder.js simple WAV export example</h1>

  <button onclick="startRecording(this);">record</button>
  <button onclick="stopRecording(this);" disabled>stop</button>
  <button onclick="uploadBlob()" disabled id="upload_button">Upload</button>

  <ul id="recordingslist"></ul>

  <script>
  function __log(e, data) {
    console.log(e + " " + (data || ''));
  }

  var audio_context;
  var recorder;

  function startUserMedia(stream) {
    var input = audio_context.createMediaStreamSource(stream);
    audio_context.resume();
    __log('Media stream created.');
    recorder = new Recorder(input);
    __log('Recorder initialised.');
  }

  function startRecording(button) {
    recorder.clear();
    recorder && recorder.record();
    button.disabled = true;
    button.nextElementSibling.disabled = false;
    __log('Recording...');
  }

  function stopRecording(button) {
    recorder && recorder.stop();
    button.disabled = true;
    var ulbtn = document.getElementById('upload_button')
    ulbtn.disabled = false;
    button.previousElementSibling.disabled = false;
    __log('Stopped recording.');
    
    // create WAV download link using audio data blob
    //createDownloadLink();
    
    // recorder.clear();
  }

  function uploadBlob() {
    recorder && recorder.exportWAV(function(blob) {
      var formData = new FormData();
      formData.append('file', blob, 'test.wav');

      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/upload', true);

      xhr.onload = function() {
          if (xhr.status === 200) {
              alert('File uploaded successfully.');
              
              // アップロードが成功した場合、/upload に遷移
              window.location.href = '/upload';
          } else {
              alert('Error uploading file.');
          }
      };

      xhr.send(formData);

      // const fd = new FormData();
      // // let blob_data = new Blob(blob);
      // fd.append('file', blob, 'foo.txt');
      // const xhr = new XMLHttpRequest();
      // xhr.open("POST", "/upload");
      // xhr.send(fd);



      var url = URL.createObjectURL(blob);
      var li = document.createElement('li');
      var au = document.createElement('audio');
      // var hf = document.createElement('a');
      
      au.controls = true;
      au.src = url;
      // hf.href = url;
      // hf.download = 'recog.wav';
      // hf.innerHTML = hf.download;
      li.appendChild(au);
      // li.appendChild(hf);
      recordingslist.appendChild(li);
    });
  }

  window.onload = function init() {
    try {
      // webkit shim
      window.AudioContext = window.AudioContext || window.webkitAudioContext;
      if (navigator.mediaDevices === undefined) {
        navigator.mediaDevices = {};
      }
      if (navigator.mediaDevices.getUserMedia === undefined) {
        navigator.mediaDevices.getUserMedia = function(constraints) {
          // First get ahold of the legacy getUserMedia, if present
          let getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

          // Some browsers just don't implement it - return a rejected promise with an error
          // to keep a consistent interface
          if (!getUserMedia) {
            return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
          }

          // Otherwise, wrap the call to the old navigator.getUserMedia with a Promise
          return new Promise(function(resolve, reject) {
            getUserMedia.call(navigator, constraints, resolve, reject);
          });
        }
      }
      window.URL = window.URL || window.webkitURL;
      
      audio_context = new AudioContext;
      __log('Audio context set up.');
      __log('navigator.mediaDevices ' + (navigator.mediaDevices.length != 0 ? 'available.' : 'not present!'));
    } catch (e) {
      alert('No web audio support in this browser!');
    }
    
    navigator.mediaDevices.getUserMedia({audio: true})
      .then(function(stream) {
        startUserMedia(stream);
      })
      .catch(function(e) {
        __log('No live audio input: ' + e);
    });
  };
  </script>

  <script src="../static/js/recorder.js"></script>
</body>
</html>