<!doctype html>
<head lang="ja">
	<meta charset="UTF-8">
	<title>NAKADAKA - Inference</title>
	<link rel="icon" href="../static/img/favicon.ico">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css">
	<link rel="stylesheet" href="../static/css/inference.css">
	<link rel="stylesheet" href="../static/css/loading.css">
	<script src="https://kit.fontawesome.com/9af6814cd8.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap" rel="stylesheet">
</head>
<body>
	<script>
        const tdm_acc = {{tdm_acc|tojson}};
		const nkd_acc = {{nkd_acc|tojson}};
		const lnum = {{lnum|tojson}}
    </script>

	<div id="logo">
		<img src="../static/img/logo.png">
	</div>

	<div class="visual">
		<h2>tdmelodicによる正解アクセント予測</h2>
		<textarea id="tdm" wrap="off" readonly></textarea>
	</div>
	<div class="visual">
		<h2>あなたのアクセント予測</h2>
		<textarea id="nkd" wrap="off" readonly></textarea>
	</div>

	<button onclick="location.href='/'">もう一度行なう</button>

	<script>
		const elm_tdm = document.getElementById("tdm");
		const elm_nkd = document.getElementById("nkd");
		elm_tdm.value = tdm_acc;
		elm_nkd.value = nkd_acc;
		elm_tdm.style.height = 29 * lnum + 'px';
		elm_nkd.style.height = 29 * lnum + 'px';
	</script>
</body>